@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import 'reset.scss';

$header-height: 3rem;
$first-color: #069c54;
$first-color-alt: #048654;
$title-color: #393939;
$text-color: #707070;
$text-color-light: #a6a6a6;
$body-color: #fbfefd;
$container-color: #ffffff;

$body-font: 'Poppins', sans-serif;
$biggesr-font-size: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

$font-medium: 500;
$font-semi-bold: 600;

$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

$z-tooltip: 10;
$z-fixed: 100;

@media screen and (min-width: 768px) {
  $biggesr-font-size: 4rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: $header-height;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: $h1-font-size;
  color: $title-color;
  margin-bottom: $mb-3;
}

.section-subtitle {
  display: block;
  color: $first-color;
  font-weight: $font-medium;
  margin-bottom: $mb-1;
}

.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: $mb-2;
  margin-right: $mb-2;
}

.bd-grid {
  display: gird;
  gap: 1.5rem;
}

.i-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background: $body-color;
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: $z-fixed;
  }
}

.nav__item {
  margin-bottom: $mb-2;
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: $text-color;
  font-weight: $font-medium;
}

.nav__logo:hover {
  color: $first-color;
}

.nav__link {
  transition: 0.3s;
  &:hover {
    color: $first-color;
  }
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.show-menu {
  top: $header-height;
}
